@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Nunito", sans-serif;
  color: var(--color-light-blue);
}
p {
  font-family: "Rubik", sans-serif;
  color: var(--color-lightwhite);
}
.margin-3rem {
  margin: 7rem 0rem 0rem 0rem;
}
/* Logo============================================ */
.logo {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
/* Color and background color */
:root {
  --color-primary: #06a3da;
  --color-white: #fff;
  --color-darkgreen: #091e3e;
  --color-darkblue: #050f29;
  --color-black: #000;
  --color-lightwhite: #6b6a75;
  --color-light-primary: #ebf9ff;
  --color-light-blue: #07153e;
  --color-red: #ff0000;
}
/* Icon */
.icon {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: var(--color-primary);
}
/* Top-bar============================================= */
.top-bar {
  background-color: var(--color-darkgreen);
}
.top-icon small {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  transition: 0.3s;
}
.top-icon i {
  transition: 0.3s;
  color: var(--color-white);
}
.rounded-circle-border {
  border: 2px solid var(--color-white);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 37px;
}
.top-icon i:hover {
  color: black;
  background-color: var(--color-white);
}
.nav-link {
  font-size: 18px;
}
/* Menu ****************** */
.menu {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.046);
}
/* About us Component=================================== */
/* Loader ========================================*/
.loader {
  display: block;
  --height-of-loader: 4px;
  background-color: var(--color-primary);
  width: 150px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--color-primary);
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  border-radius: 30px;
  animation: moving 4s ease-in-out infinite alternate;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
.phone {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
/* Service Component */
.box-45deg {
  transform: rotate(45deg);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: var(--color-primary);
}
.box-0deg {
  transform: rotate(315deg);
}
.boxs {
  position: relative;
}
.hover {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 50%);
  transition: 0.5s;
  overflow: visible;
  opacity: 0;
}
.boxs:hover .hover {
  left: 50%;
  top: 85%;
  transform: translate(-50%, 50%);
  opacity: 1;
}
/* BackToTopComponent ********************************** */
.icons i {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 20px;
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 1;
  user-select: none;
}
/* Footer *************** */
.footer input[type="email"] {
  border: none;
  padding: 10px;
  width: 65%;
  outline: none;
}
.footer input[type="submit"] {
  border: none;
  padding: 10px;
  width: 35%;
  background-color: var(--color-darkgreen);
  color: var(--color-white);
  outline: none;
}
.menu-footer a {
  padding-left: 0;
  transition: 0.5s;
}
.menu-footer a:hover {
  padding-left: 30px;
}
/* Blog Grid page *************** */
.web-design {
  position: absolute;
  top: 35%;
}
.blog-grid-item .image {
  transform: scale(1);
  overflow: clip;
}

.blog-grid-item:hover:not(.web-design) .image img {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.read-more {
  color: var(--color-primary);
}
.read-more:hover {
  color: #086688;
  transition: 0.3s;
}
.web-designs {
  margin-top: 20px;
  padding: 20px 0px 20px 30px;
  background-color: var(--color-light-primary);
  cursor: pointer;
}
.web-designs a{
  color: rgb(10, 44, 56);
  transition: .3s;
}
.web-designs:hover a{
  color: var(--color-primary);
}
.img-card{
  transition: all 0.3s ease;
}
.img-card:hover{
  transform: scale(1.2);
}
