* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.button {
  display: flex;
  justify-content: center;
}

.box {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  background: rgb(58, 165, 253);
  overflow: hidden;
}

.box:before {
  content: "T";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.4s;
}

.box:nth-child(2)::before {
  transform: translateY(-100%);
  content: "E";
}

.box:nth-child(3)::before {
  content: "A";
}

.box:nth-child(4)::before {
  transform: translateY(-100%);
  content: "M";
}

.box:nth-child(5)::before {
  content: "1";
}

.button:hover .box:before {
  transform: translateY(0);
}
